<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>img-to-txt</title>
    <link rel="stylesheet" href="https://centeltech.com/css2.5.7/main.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Img to Txt Convertor</h1>
    <h2>Firetech logo img:
    <img src="/Users/mac/OneDrive/Programming/webapp/Todo/img/firetech_logo.png"></h2>
    <h2>Firetech logo txt</h2>
    <div> <iframe src="/Users/mac/OneDrive/Programming/webapp/Todo/img/firetech_logo.txt" </iframe></div>
    
    </div>
</body>
</html>