{% from "show_links.html" import show_links %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Answer Question</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
    <script src="./app.js" defer></script>
  </head>
  <body>
    <div class="header">Q&A</div>
    {{ show_links(user) }}
    <!-- <nav> -->
    <h1>{{ question['question_text'] }}</h1>
    <hr style="background-color: #fff; width: 500px;"> 
    <form action="{{url_for("answer", question_id=question["id"])}}" method="POST">
      <label for="textArea">Answer</label>
      <textarea class="textarea" placeholder="Type your answer." name="answer"></textarea><br>
      <button type="submit" class="btn btn-primary" name="answer_text">Submit</button><br/>
    </form>
  </body>
</html>
