{% from "show_links.html" import show_links %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script src="./app.js" defer></script>
  </head>

  <body>
    <div class="header">Q&A</div>
    {{ show_links(user) }}
    <div class="container theme-showcase" role="main">
        <h1>Ask A Question</h1>
        <hr style="background-color: #fff;"> 
            <form action="/ask", method="POST">
                  <label>Question</label>
                      <textarea class="textarea" placeholder="Type your question." name="question"></textarea>
                      <span>Ask away!</span><br>
                      <select id="select" class="select" name="expert">
                          {% for expert in experts %}
                          <option value="{{expert["id"]}}">{{expert["name_text"]}}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
              </form>
  </body>
</html>