{% from "show_links.html" import show_links %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script src="./app.js" defer></script>
  </head>
  <body>
    <div class="header">Q&A</div>
    {{ show_links(user) }}
        <h1>Questions For You</h1>
        
        <div class="container">
          {% for question in questions %}
            <a href="{{url_for("answer", question_id = question["id"])}}">
              <h4>{{question["question_text"]}}</h4>
              <p>Asked by: {{question["name_text"]}}</p>
            </a>
            <br>
          {% endfor %}
          </div><br>
          
  </body>
</html>