<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYQWM2K116"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-ZYQWM2K116');
    </script><script type='text/javascript'>
      window.smartlook || (function (d) {
        var o = smartlook = function () { o.api.push(arguments) }, h = d.getElementsByTagName('head')[0];
        var c = d.createElement('script'); o.api = new Array(); c.async = true; c.type = 'text/javascript';
        c.charset = 'utf-8'; c.src = 'https://rec.smartlook.com/recorder.js'; h.appendChild(c);
      })(document);
      smartlook('init', '541e117908ab1a689650f7f903de6f380756292c');
    </script>
    <link rel="stylesheet" href="https://centeltech.com/css2.5.7/main.css">
    <title>Create food</title>
  </head>
  <body>
    <div id="navbar">
      <a href="/home" class="active">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/show/list">All todos</a>
      <a href="/show/users">All users</a>
      <a href="/show/food">All food</a>
      <a href="/create/food">Create a new food</a>
      <a href="/create/task">Create a new task</a>
      <a href="/projects">Create a new task</a>
    </div>
    <form action="{{url_for('add_food')}}" method="POST">
      <div class="centered">
        Food Name
        <br />
        <textarea name="food_name"></textarea>
        <br />
        Protein
        <br />
        <input type="text" name="protein" id="protein" placeholder="in grams(g)"/>
        <br />
        Carbs
        <br />
        <input type="text" name="carbs" id="carbs" placeholder="in grams(g)"/>
        <br />
        Fat
        <br />
        <input type="text" name="fat" id="fat" placeholder="in grams(g)"/>
        <input type="submit" value="submit" />
        <br />
      </div>
    </form>
  </body>
</html>
