"""<html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYQWM2K116"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZYQWM2K116');
      </script>
<style>

.button {
        background-color: white;
        border: none;
        color: cadetblue;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
      body{
        background-color: cadetblue;
        border: none;
        color: white;
        text-align: center;
        margin: 150px 250px;
      }


</style>

    </head>

    <body>  <h1>Decrypt your encrypted message. <br>Enter your encrypted message here</h1>
      <form action="/message_codifier/decrypt/check" method="post">
      <input type="textarea" name="message" value=""></input>
      <input type="submit" class="submit" value="Decrypt" name="submit">
      <p><b>{{ decrypted_message }}</b><p></p>
      
    </form>  </body>
</html>    