<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYQWM2K116"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-ZYQWM2K116');
    </script><script type='text/javascript'>
      window.smartlook || (function (d) {
        var o = smartlook = function () { o.api.push(arguments) }, h = d.getElementsByTagName('head')[0];
        var c = d.createElement('script'); o.api = new Array(); c.async = true; c.type = 'text/javascript';
        c.charset = 'utf-8'; c.src = 'https://rec.smartlook.com/recorder.js'; h.appendChild(c);
      })(document);
      smartlook('init', 'c3356e1ea3f7ae0c9ffd2925e387e6d36c297280');
    </script>
    <title>Home</title>
    <link rel="stylesheet" href="https://centeltech.com/css2.5.7/main.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <!-- <a href="/create/task"><button class="btn btn-primary">Create new task</button></a> -->
    <!-- <br/> -->
    <!-- <a href="/show/list"><button class="btn btn-primary">View todo list</button></a> -->
    <!-- <br /> -->
    <!-- <a href="/login"><button class="btn btn-primary">Login</button></a> -->
    <!-- <br /> -->
    <!-- <a href="/register"><button class="btn btn-primary">Register</button></a> -->

    <div id="navbar">
      <!-- <a href="/home">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/show/list">All todos</a>
      <a href="/show/users">All users</a>
      <a href="/show/food">All food</a>
      <a href="/create/food">Create a new food</a>
      <a href="/create/task">Create a new task</a>
      <a href="/projects" class="active">Create a new task</a> -->
    </div>
    <h2>Firetech projects</h2>
    <p>New logic</p>
  </body>
</html>
