<!doctype html>
<html>
   <head><!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYQWM2K116"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-ZYQWM2K116');
   </script><script type='text/javascript'>
      window.smartlook || (function (d) {
         var o = smartlook = function () { o.api.push(arguments) }, h = d.getElementsByTagName('head')[0];
         var c = d.createElement('script'); o.api = new Array(); c.async = true; c.type = 'text/javascript';
         c.charset = 'utf-8'; c.src = 'https://rec.smartlook.com/recorder.js'; h.appendChild(c);
      })(document);
      smartlook('init', 'c3356e1ea3f7ae0c9ffd2925e387e6d36c297280');
   </script></head>
   <link rel="stylesheet" href="https://centeltech.com/css2.5.7/main.css">
   <body>
      <div id="navbar">
         <a href="/home">Home</a>
         <a href="/login">Login</a>
         <a href="/register">Register</a>
         <a href="/show/list" class="active">All your todos</a>
         <a href="/show/users">All users</a>
         <a href="/show/food">All food</a>
         <a href="/create/food">Create a new food</a>
         <a href="/create/task">Create a new task</a>
      <a href="/projects">Create a new task</a>
      </div>
      <table "border" = 1>
         <thead>
            <td>Task Name</td>
            <td>&nbsp;</td>
            <td>Priority</td>
            <td>&nbsp;</td>
            <td>Email</td>
            <td>&nbsp;</td>
            <td>Action</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["task_name"]}}</td>
               <td>&nbsp;</td>
               <td> {{ row["priority"]}}</td>
               <td>&nbsp;</td>
               <td> {{ row["username"]}}</td>
               <td>&nbsp;</td>
               <td><a href="/complete/task?id={{row['id']}}">Complete</a><br><a href="/delete/task?id={{row['id']}}">Delete</a></td>	
               <td>&nbsp;</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>